.certificateHolder {
  background-image: URL('/bg-cert.jpg');
  padding: 15rem 5rem;
  background-size: cover;
  background-position: center;
  }
  .certificatePage {
  padding: 8rem 0rem 10rem 0rem;
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  
  }
  .__react_modal_image__header {
    top:12vh !important;
  }
  .__react_modal_image__modal_content
    {
      top:16vh !important;
      width: 100% !important;
      height: 85% !important;
  }
  .text-content {
  text-align: center;
  }
  h1
  {
  font-size: 5vw;
  }
  .certificates-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 5vw;
  overflow-x: auto;
  }
  .certificate-thumbnail {
  height: 30vh;
  width: auto;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
  }
  .certificate-thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  }
  .documents-grid {
  padding-left: 20vh;
  }
  .separator-banner {
  width: 100%;
  background:
  radial-gradient(circle farthest-side at 0% 50%,#1190ff 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#114dff 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#1190ff 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#1190ff 0)0 0,
  linear-gradient(150deg,#1190ff 24%,#114dff 0,#114dff 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#114dff 0,#114dff 76%,#1190ff 0)0 0,
  linear-gradient(30deg,#1190ff 24%,#114dff 0,#114dff 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#114dff 0,#114dff 76%,#1190ff 0)0 0,
  linear-gradient(90deg,#114dff 2%,#1190ff 0,#1190ff 98%,#114dff 0%)0 0 #1190ff;
  background-size:40px 60px;
  color: #ffffff;
  text-align: center;
  padding: 6rem 0;
  margin: 2rem 0;
  transition: background 0.5s ease;
  }
  .separator-banner h2 {
  font-size: 10vw;
  }
  @media (max-width: 768px) {
    .__react_modal_image__header {
      top:0vh !important;
    }
    .__react_modal_image__modal_content
      {
        top:0vh !important;
        width: 100% !important;
        height: 100% !important;
    }
    .certificateHolder {
      background-image: URL('/bg-cert.jpg');
      padding: 10rem 1rem;
      background-size: cover;
      background-position: center;
      }
    .certificatePage {
      padding: 4rem 1rem 6rem 1rem;
      border-radius: 10px;
      }

  .certificate-thumbnail {
  height: 15vh;
  }
  }
  .documents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  overflow-x: auto;
  box-sizing: border-box;
  padding-left: 10vw;
  padding-right: 10vw;
  }
  .document-item {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  }
  .document-item:hover {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  }
  .document-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  }
  .document-link svg {
  margin-right: 0.5rem;
  }
  .ul-box {
  padding: 1rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  text-align: left;
  width: auto;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  }
  .ul-box ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #333;
  }
  .ul-box li {
  margin: 0.5rem 0;
  }
  .ul-box li:hover {
  color: #ff4081;
  }