.certificates-page.overlay-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.certificates-page.overlay-open .navbar {
  display: none;
}

.certificates-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;  
  justify-content: center;
}

.certificate-thumbnail {
  width: 12vw;
  cursor: pointer;
  transition: transform 0.5s;
  border: 2px solid #414141;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.certificate-thumbnail:hover {
  transform: scale(1.1);
}

.certificate-overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%; 
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.overlay-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.certificate-full {
  max-width: 100vw;
  max-height: 100vh;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2rem;
}

.text-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20vw 0;
}

.text-content {
  width: 60vw;
  text-align: center;
  background: azure;
  color: black;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  clip-path: polygon(0 0, 5% 0, 0 5%, 0 100%, 100% 100%, 100% 0);
}

.text-content p {
  font-size: 1.5vw;
  text-align: left;
}

.image-layer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.documents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 5px;
}

.document-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.document-link {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.document-link span {
  font-size: 16px;
}

.document-link svg {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .text-layer {
    width: 120%;
    height: 100%;
    padding: 30vw 0;
    display: inline-block;
  }

  .text-content {
    width: 90vw;
    font-size: 4vw;
  }

  .certificate-thumbnail {
    width: 60vw;
    cursor: pointer;
    transition: transform 0.5s;
    border: 2px solid #414141;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .text-content p {
    font-size: 7vw;
    text-align: left;
  }
}
