.references-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("/public/bg-ref2.png");
    }
    .parallax {
    position: relative;
    }
    .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: transparent;
    color: white;
    }
    .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    }
    .reference-box {
    padding: 20px;
    font-size: 7vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    .button-container {
    display: contents;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 0, 0.3);
    }
    .button-background {
    position: absolute;
    top: 20vw;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(222, 196, 0, 0), rgba(222, 196, 0, 1));
    z-index: -1;
    border-radius: 10px;
    }
    .button-container button {
    margin: 3vw;
    width: 14vw;
    height: 10vw;
    background-color: transparent;
    color: black;
    font-weight:bold;
    font-size: 2.5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease background-color 0.3s ease;
    }
    .button-container button:hover {
    color:white;
    background-color: rgba(164, 145, 0, 0.3);
    }
    .reference-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30vh 0;
    margin: 0;
    }
    .reference-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    }
    .reference-content {
    width: 80%;
    background: white;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    box-sizing: border-box;
    position: relative;
    clip-path: polygon(0 0, 5% 0, 0 5%, 0 100%, 100% 100%, 100% 0);
    }
    .title-bar {
    background-color: #fff200;
    color: rgb(0, 0, 0);
    padding: 2vw;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin: -20px;
    }
    .description {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.6;
    }
    .gallery {
    width: 100%;
    padding-top: 20px;
    }
    .reference-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    }
    .gallery-item {
    position: relative;
    border-radius: 12px;
    width: auto;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .scroll-margin {
    padding-top: 180px;
    }
    .gallery-item img {
    width: auto;
    height: 400px;
    display: block;
    border-radius: 12px;
    }
    @media (max-width: 768px) {
    .reference-container {
    flex-direction: column;
    padding: 10px;
    }
    .reference-content {
    width: 100%;
    }
    .gallery {
    width: 100%;
    }
    .reference-gallery {
    grid-template-columns: 1fr;
    }
    .button-background {
    position: absolute;
    top: 0vw;
    left: -10vw;
    right: -50vw;
    background-color: rgba(255, 241, 132, 0.119);
    border-radius: 10px;
    }
    .reference-box {
    font-size: 8vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    .button-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-items: center;
    align-items: center;
    }
    .button-container button {
    margin: 3vw;
    width: 45vw;
    height: 20vw;
    background-color: transparent;
    color: black;
    font-weight:bold;
    font-size: 5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease background-color 0.3s ease;
    }
    .scroll-margin {
    padding-top: 300px;
    }
    }