  .parallax-container {
    height: 100vh;
    overflow: hidden;
  }

  .text-layer-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10vh;
  }

  .text-content-tech {
    max-width: 110vh;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 4vh;
    text-align: left;
    position: relative;
    border-top: 8vh solid lightgreen;
    clip-path: polygon(0 0, 10% 0, 0 15%, 0 100%, 100% 100%, 100% 0);
  }

  .image-layer-tech {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
  }

  .image-layer-tech img {
    width: 100vh;
    height: auto;
    object-fit: cover;
  }

@media (max-width: 768px) {
  .text-content-tech {
    max-width: 90vw;
    padding: 2vh;
    border-top: 4vh solid lightgreen;
    clip-path: polygon(0 0, 20% 0, 0 20%, 0 100%, 100% 100%, 100% 0);
  }

  .image-layer-tech img {
    width: auto;
    height: auto;
  }
}