/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Interphases:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TT+Autonomous:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Interphases', sans-serif;
  overflow-x: hidden;
  background-image: url("/public/bg.jpg");
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  transition: background 0.3s ease;
  font-size: 1.5rem;
}

.navbar .logo {
  position: absolute;
  left: 20px;
}

.navbar:hover {
  background: #004d00;
}

.navbar.hide {
  opacity: 0;
  background-color: rgba(1, 138, 19, 0);
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #b3e6ff;
}

.lang-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lang-container a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}

.lang-container a:hover {
  background-color: #003808;
  border-radius: 4px;
}

.lang-container a img {
  margin-right: 8px;
  width: 5vh;
  height: auto;
}

.lang-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #018a13;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  max-height: 0;
}

.lang-container:hover .lang-dropdown {
  display: block;
  opacity: 1;
  max-height: 250px;
}

.lang-dropdown a {
  display: block;
  padding: 8px 8px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  transition: background 0.3s;
}

.lang-dropdown a:hover {
  background-color: #003808;
}

.about-section,
.technology-section,
.news-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  box-shadow: 0 3vw 5vw rgba(0, 0, 0, 0.8);
}

.about-section {
  background-image: url('/public/Wpowertech-2.jpg');
}

.about-image img {
  max-width: 80%;
  height: auto;
  z-index: 2;
  position: relative;
  display: block;
  margin: 0 auto;
}

.news-section {
  padding: 1vw;
  background-color: #ffffff;
  text-align: center;
}

.facebook-feed {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.facebook-post {
  background-color: white;
  border-radius: 1vw;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 10vw;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.about-section .overlay h1 {
  font-size: 4rem;
}

.technology-section {
  background-image: url('/public/Wpowertech-24.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  position: relative;
}

.technology-section .overlay {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.43);
  padding: 0vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  z-index: 2;
}

.technology-section .overlay h2 {
  font-size: 6rem;
  color: #009eed;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.technology-section .overlay p {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #333;
}

.button-container {
  position: absolute;
  right: 150px;
  bottom: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.technology-section iframe {
  position: absolute;
  right: 10vw;
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.7);
}

.learn-more {
  padding: 20px 40px;
  border: 2px solid #005ab9;
  background-color: #005ab9;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

}

.learn-more:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.arrow {
  width: 100px;
  height: 100px;
  color: blue;
  opacity: 0.8;
  margin-right: 15px;
}

footer {
  padding: 20px;
  background-color: #002a01;
  color: #fff700;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  clear: both;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 150px;
  flex-wrap: wrap;
  background-color: #4CAF50;
}

.location-container,
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.location-container p,
.contact-details p {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  text-align: left;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}

.location-container a,
.contact-details a {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  text-align: left;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}

.contact-details p svg {
  margin-right: 10px;
}

.location-container h2,
.contact-details h2 {
  margin: 0 0 10px 0;
  text-align: left;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {

  /*TABLET*/
  .technology-section .overlay {
    width: 40%;
  }
  .button-container {
    right: 30px;
  }

  .arrow {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .technology-section iframe {
    position: absolute;
    right: 40px;
    bottom: 30%; 
    width: 50%; 
    height: 20%; 
    border: 4px solid #005ab9; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .technology-section .overlay h2 {
    font-size: 3rem;
  }

  .technology-section .overlay p {
    font-size: 2rem;
  }

  .learn-more {
    padding: 10px 20px;
    font-size: 2rem;
  }

  .footer-content {
    padding-top: 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
    font-size: 1rem;
    padding: 8px 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 5px;
  }

  .nav-links li a {
    padding: 4px 8px;
  }

  .technology-section .overlay {
    width: 40%;
    background: rgba(255, 255, 255, 0.0);
    top: 20%;
  }

  .learn-more {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .arrow {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .button-container {
    right: 50px;
    bottom:60px;
  }
  .learn-more
  {
    width:80%;
    height:120%;
  }
  .technology-section .overlay h2 {
    font-size: 3rem;
  }
  .technology-section .overlay p {
    font-size: 1.5rem;
    color:rgb(120, 120, 120);
  }
  .technology-section iframe {
    position: absolute;
    right: 40px;
    bottom: 35%;
    width: 90%; 
    height: 30%;
    border: 2px solid #005ab9;
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }


  .facebook-post {
    min-width: 90%;
  }

  .footer-content {
    text-align: center;
  }

  .location-container,
  .contact-details {
    align-items: center;
  }

  .location-container iframe {
    margin-top: -15px;
  }

  .lang-container {
    position: absolute;
    right: 10px;
  }
}